body {
    background-color: black;
    color: white;
}
.buttons {
    position: fixed;
    top: 5%;
    right: 5%;
}
.home_button,.project_button,.github_button,.about_button,.contact_button {
    border: none;
    color: white;
    margin-right: 10px;
    background: transparent;
    font-size: 15px;
}
.title {
    position: fixed;
    z-index: 1;
    top: 55%;
    color: #00d5ff;
    left: 8%;
    font-size: 20px;
}
.about_button {
    color: red;
}
.about {
    margin: 0;
    padding: 0;
    color: white;
    position: fixed;
    z-index: 1;
    left: 5%;
    top: 5%;
    font-size: 50px;
}
.details {
    overflow: auto;
    border: 2px solid white;
    text-align: center;
    position: fixed;
    border-radius: 15px;
    background-color: #5d5d5d;
    height: 75%;
    width: 90%;
    top: 18%;
    left: 5%;
}
h1,h3 {
    color: #00d5ff;
}
@media only screen and (max-width: 600px) {

body {
    overflow: auto;
}
.about {
    top: 2%;
    left: 30%;
}
.buttons {
    top: 15%;
    left: 1%;
    height: auto;
    width: 100%;
    background-color: black;
}
.home_button,.project_button,.github_button,.about_button,.contact_button {
    margin-right: 0px;
    width: 19%;
    font-size: 13px;
    border: 1px solid white;
    border-radius: 3px;
    height: auto;
}
.details {
    top: 20%;
    height: 70%;
    width: 90%;
    left: 5%;
}

}
