body {
    background-color: black; 
    color: white;
}
.buttons {
    position: fixed;
    top: 5%;
    right: 5%;
}
.home_button,.project_button,.github_button,.about_button,.contact_button {
    border: none;
    color: white;
    margin-right: 10px;
    background: transparent;
    font-size: 15px;
}
.title {
    position: fixed;
    top: 55%;
    color: #00d5ff;
    left: 8%;
    font-size: 20px;
}
.contact_button {
    color: red;
}
.contact {
    margin: 0;
    padding: 0;
    color: white;
    position: fixed; 
    left: 5%;
    top: 5%;
    font-size: 50px;
}
.links {
    position: fixed;
    border: 1px solid white;
    height: 75%;
    bottom: 3%;
    background-color: #6d6d6d;
    border-radius: 15px;
    padding: 20px;
    overflow: auto;
}
.github,.linkedin,.telegram,.instagram,.x {
    width: 100px;
    height: 25px;
    border: none;
    border: 1px solid white;
    overflow: auto;
    border-radius: 5px;
}
.telegram,.linkedin {
    background-color: #00c0ff;
}
.instagram {
    background-color: #ff00f1;
}
.x,.github {
    background-color: black;
    color: white;
}
@media (max-width: 600px) {

body {
    overflow: auto;
}
.contact {
    top: 2%;
    left: 30%;
}
.buttons {
    top: 15%;
    left: 1%;
    height: auto;
    width: 100%;
    background-color: black;
}
.home_button,.project_button,.github_button,.about_button,.contact_button {
    margin-right: 0px;
    width: 19%;
    font-size: 13px;
    border: 1px solid white;
    border-radius: 3px;
    height: auto;
}
.links {
    top: 20%;
    height: 70%;
}
}
