body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  color: white;
}
.video-container,.bg-video {
    width: 100%;
    height: 100%;
}
.video-container {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  object-fit: cover;
}
.buttons {
    position: fixed;
    top: 5%;
    right: 5%;
    padding: 4px;
}
.home_button,.project_button,.github_button,.about_button,.contact_button {
    border: none;
    color: white;
    margin-left: 5px;
    border-bottom: 1px solid white;
    background: transparent;
    font-size: 15px;
}
h1, h3 {
    color: #00d5ff;
}
.title {
    margin: 0;
    padding: 0;
    color: white;
    position: fixed;
    left: 5%;
    top: 5%;
    font-size: 40px;
}

/* home */

.zhome {
    position: absolute;
    z-index: 1;
}
.vijay {
    height: auto;
    width: 40%;
    position: fixed;
    top: 60%;
    left: 30%;
}
.pro {
    position: fixed;
    top: 70%;
    color: white;
    left: 42.5%;
    font-size: 20px;
}
.home_button {
    color: red;
}

/* project */

.zproject {
    position: absolute;
    z-index: -1;
}
.project-list {
    position: fixed;
    overflow: auto;
    border-left: 2px solid white;
    background-color: transparent;
    height: 75%;
    width: 90%;
    top: 19%;
    left: 5%;
}
.project_details {
    margin: 20px;
}

.project-link {
    border: none;
    border-radius: 2px;
    width: 100px;
    height: 35px;
}

/* contact */

.zcontact {
    position: absolute;
    z-index: -2;
}
.links {
    position: fixed;
    top: 16%;
    right: 2%;
    background-color: transparent;
    border-left: 2px solid white;
    padding: 20px;
    overflow: auto;
}
.email {
    position: fixed;
    text-align: center;
    bottom: 40%;
    left: 8%;
}
.github,.linkedin,.telegram,.instagram,.x {
    width: 100px;
    height: 25px;
    border: none;
    border: 1px solid white;
    overflow: auto;
    border-radius: 5px;
}
.telegram,.linkedin {
    background-color: #00c0ff;
}
.instagram {
    background-color: #ff00f1;
}
.x,.github {
    background-color: black;
    color: white;
}

/* about */

.zabout {
    position: absolute;
    z-index: -3;
}
.details {
    overflow: auto;
    text-align: center;
    position: fixed;
    border-left: 2px solid white;
    background-color: transparent;
    height: 75%;
    width: 90%;
    top: 19%;
    left: 5%;
}

@media (max-width: 600px) {

.title {
    top: 2%;
    left: 5%;
}
.buttons {
    top: 12%;
    right: 0;
}
.home_button,.project_button,.github_button,.about_button,.contact_button {
    width: 19%;
    margin-left: 0;
    font-size: 13px; 
}
.pro {
    top: 80%;
    left: 33%;
}
.vijay {
    width: 95%;
    left: 2.5%;
    top: 68%;
}
.email {
    right: 2%;
    bottom: 0%;
}
}